# data
raw_data/
clean_data/

# nextflow log and intermediate files
.DS_Store
.nextflow.log*
.nextflow/
work/

# notes and writeups
notes.txt
manuscript/

# large data files
raw_data/
clean_data/

# results files
results/
