profiles {
    apptainer {
	apptainer.enabled = true
	apptainer.autoMounts = true
	runOptions = '--no-home --containall'
    }
}

env {
    TMPDIR="$TMPDIR"
    AUGUR_RECURSION_LIMIT="10000"
}

//tower {
//    enabled = true
//}

process {
    executor = 'slurm'
    queue = 'campus-new'
    debug = true
}
