profiles {
    apptainer {
	apptainer.enabled = true
	apptainer.autoMounts = true
	runOptions = '--no-home --containall'
    }
}

env {
    TMPDIR="$TMPDIR"
}

tower {
   enabled = true
}

//tower {
//    enabled = true
//}

process {
    executor = 'slurm'
    queue = 'campus-new'
    debug = true
}
