workDir = '/fh/scratch/delete30/matsen_e/snadeau/nextflow/work/'

profiles {
    apptainer {
	apptainer.enabled = true
	apptainer.autoMounts = true
	cacheDir = '/fh/scratch/delete30/matsen_e/snadeau/apptainer/'
    }

    singularity {
    	singularity.enabled = true
    	autoMounts = true
    	cacheDir = '/fh/scratch/delete30/matsen_e/snadeau/nextflow/cache/'
    	runOptions = ''
    }

}

process {
    executor = 'slurm'
    queue = 'campus-new'
    debug = true
}
